@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  --mainColor1: #1e1e1e;
  --mainColor2: #242222;
  --TextColor: #ffffff;
  --textColor2: #dedede;
  --textColor3: rgba(255, 255, 255, 0.85);
  --accentColor: #4162db;
  -webkit-tap-highlight-color: transparent;
  accent-color: var(--accentColor);
}

* {
  margin: 0;
  padding: 0;
}
:global(body) {
  margin: 0;
  padding: 0;
}
textarea:focus,
input:focus {
  outline: none;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

button:active {
  border-style: none;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: var(--mainColor1);
  color: var(--TextColor);
}
@media only screen and (max-width: 600px) {
  body {
    display: grid;
    grid-template-rows: 82px auto 114px;
  }
}
.navigation {
  display: grid;
  grid-template-areas: "one two three";
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.title {
  font-weight: 700;
  font-size: 16px;
}

.List {
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
}

.effect {
  position: fixed;
  height: 103px;
  width: calc(100vw - 20px);
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0px -19px 47px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(10.5px);
  bottom: 0px;
  left: 0px;
  border-radius: 25px 25px 0px 0px;
  padding: 5.5px 10px;
}

#musicOverlay.nowPlaying {
  position: fixed;
  height: 103px;
  width: calc(100vw - 20px);
  bottom: 0px;
  left: 0px;
  padding: 5.5px 10px;
  border-radius: 25px 25px 0px 0px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 10px;
  transition: 0.2s ease;
  z-index: 5;
}

#musicOverlay.nowPlaying div:nth-child(1) {
  display: block;
  position: fixed;
  height: 103px;
  width: 100%;
  bottom: 0px;
  right: 25%;
  padding: 5.5px 10px;
  border-radius: 25px 0px 0px 0px;
}
#musicOverlay.nowPlaying div:nth-child(1) button {
  display: none;
}

#musicOverlay.nowPlaying img:nth-child(2) {
  width: 85px;
  height: 85px;
  filter: drop-shadow(0px 6px 20px rgba(0, 0, 0, 0.15));
  border-radius: 25px;
}

#musicOverlay.nowPlaying div:nth-child(3) {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#musicOverlay.nowPlaying div:nth-child(4) {
  display: none;
}

#musicOverlay.nowPlaying div:nth-child(5) {
  display: none;
}

#musicOverlay.nowPlaying div:nth-child(6) .moreControls {
  display: none;
}

#musicOverlay.fullScreen {
  position: fixed;
  height: 100%;
  width: 100vw;
  bottom: 0px;
  left: 0px;
  background: var(--mainColor1);
  display: grid;
  grid-template-rows: 72px 4fr 0.7fr 0.5fr 0.7fr 1fr;
  justify-items: center;
  gap: 10px;
  align-items: center;
  transition: 0.2s ease;
  z-index: 10;
  overflow-y: hidden;
}

#musicOverlay.fullScreen div:nth-child(1) {
  display: block;
  justify-self: left;
  padding-left: 5%;
}
#musicOverlay.fullScreen div:nth-child(1) button {
  padding-left: 5%;
}

#musicOverlay.fullScreen img:nth-child(2) {
  width: 90%;
  height: auto;
  border-radius: 25px;
  padding: 5.5px 10px;
  align-self: flex-end;
}

#musicOverlay.fullScreen div:nth-child(3) {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#musicOverlay.fullScreen div:nth-child(3) p {
  padding: 0px 7%;
}

#musicOverlay.fullScreen div:nth-child(4) {
  width: 90%;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px -19px 47px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 20px;
  line-height: 163%;
  color: rgba(180, 180, 180, 0.35);
  padding: 3px 0px;
  display: flex;
  flex-direction: row;
}

#musicOverlay.fullScreen div:nth-child(4) .Lines {
  font-weight: 600;
  font-size: 20px;
  line-height: 163%;
  color: #d7d7d7;
  color: rgba(180, 180, 180, 0.35);
}

#musicOverlay.fullScreen div:nth-child(5) {
  display: grid;
  grid-template-areas:
    "slider"
    "time";
  grid-template-rows: 1fr 1fr;
  width: 90%;
}
#musicOverlay.fullScreen div:nth-child(5) .slidertime {
  grid-area: time;
  width: 100%;
  border-radius: 0px;
  background-color: none;
  box-shadow: none;
  background: none;
  color: var(--TextColor);
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
#musicOverlay.fullScreen div:nth-child(5) .nomove {
  grid-area: slider;
}

#musicOverlay.fullScreen div:nth-child(5) .move {
  grid-area: slider;
  position: relative;
  z-index: 12;
}

#musicOverlay.fullScreen div:nth-child(5) .touch {
  grid-area: slider;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 11;
}

.ontouch {
  display: none;
}

#musicOverlay.fullScreen div:nth-child(6) {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-self: flex-start;
}

#musicOverlay.fullScreen div:nth-child(6) .moreControls {
  display: block;
}

.Lines {
  font-weight: 600;
  font-size: 20px;
  line-height: 163%;
  color: #d7d7d7;
  color: rgba(180, 180, 180, 0.35);
}

.lyricsLabel {
  padding-left: 3%;
  width: 100%;
  height: 32px;
  font-weight: 600;
  font-size: 14px;
  color: var(--TextColor);
}

#song {
  font-size: 18px;
  font-weight: 700;
}

#artist {
  font-weight: 500;
  font-size: 16px;
  color: var(--textColor3);
}

#musicOverlay.fullScreen.lyricsResize {
  grid-template-rows: 72px 1.5fr 3fr 0.7fr 0.7fr 1fr;
  grid-template-columns: calc(125px + 10%) auto;
  justify-items: center;
  gap: 10px;
  align-items: center;
}

#musicOverlay.fullScreen.lyricsResize div:nth-child(1) {
  grid-column: 1 / span 2;
}

#musicOverlay.fullScreen.lyricsResize img:nth-child(2) {
  width: 125px;
  height: 125px;
  padding: 0px;
  border-radius: 25px;
  justify-self: center;
  align-self: center;
}

#musicOverlay.fullScreen.lyricsResize div:nth-child(3) {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#musicOverlay.fullScreen.lyricsResize div:nth-child(4) {
  grid-column: 1 / span 2;
  grid-row: 3 / 5;
  width: 90%;
  height: 100%;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px -19px 47px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 20px;
  line-height: 163%;
  color: rgba(180, 180, 180, 0.35);
  padding: 3px 0px;
  display: flex;
  flex-direction: row;
}

#musicOverlay.fullScreen.lyricsResize div:nth-child(5) {
  grid-column: 1 / span 2;
}

#musicOverlay.fullScreen.lyricsResize div:nth-child(5) .slidertime {
  grid-area: time;
  width: 100%;
  border-radius: 0px;
  background-color: none;
  box-shadow: none;
  background: none;
  color: var(--TextColor);
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

#musicOverlay.fullScreen.lyricsResize div:nth-child(6) {
  grid-column: 1 / span 2;
}

.addSongClass2 {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addSongClass {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ytlink {
  width: 245px;
  height: 70px;
  background: var(--mainColor2);
  border: 3px solid var(--accentColor);
  border-radius: 14px;
  color: var(--TextColor2);
  padding: 0px 20px;
  font-size: 16px;
  font-weight: 500;
}

.ytlinkLable {
  font-weight: 700;
  font-size: 16px;
}

.lname label {
  display: block;
  position: relative;
  width: 285px;
  height: 70px;
  background: #242222;
  border: 3px solid var(--accentColor);
  border-radius: 14px;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.lnameclass {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.nextButton {
  width: 285px;
  height: 70px;
  border: 3px solid var(--accentColor);
  background: var(--accentColor);
  border: 3px solid var(--accentColor);
  border-radius: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: var(--TextColor);
}

.nextButtonClass {
  display: flex;
  width: 80%;
  padding: 0px 10%;
  align-items: center;
  justify-content: space-between;
}

.shimmer {
  display: grid;
  background-color: var(--mainColor2);
  border-radius: 25px;
  min-height: 100px;
  height: 100px;
  grid-template-columns: 1fr 1.7fr 0.7fr;
  margin-bottom: 10px;
}

.shimmer .albumArt {
  width: 84px;
  height: 84px;
  background-color: var(--mainColor1);
  border-radius: 25px;
}

.shimmer .downloadButton {
  width: 34px;
  height: 34px;
  background-color: var(--mainColor1);
  border-radius: 25px;
}

.shimmer div:nth-child(1) {
  display: flex;
  align-self: center;
  justify-self: center;
}

.shimmer div:nth-child(2) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
}

.shimmer div:nth-child(3) {
  display: flex;
  align-self: center;
  justify-self: center;
}

.shimmer div .songName {
  display: block;
  align-self: flex-start;
  margin-bottom: 5px;
  width: 155px;
  height: 18px;
  background-color: var(--mainColor1);
  border-radius: 25px;
}

.shimmer div .artistName {
  display: block;
  width: 73px;
  height: 16px;
  background-color: var(--mainColor1);
  border-radius: 25px;
}

.shimmer .shine {
  background: var(--mainColor1);
  background-image: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.092) 50%,
    rgba(255, 255, 255, 0) 80%
  );
  background-repeat: no-repeat;
  background-size: 800px 100px;
  display: inline-block;
  position: relative;

  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

#musicOverlay.lyricsResize #lyrics {
  flex-direction: column;
  overflow: hidden;
}

#musicOverlay .lyricsLine {
  display: none;
}

#musicOverlay.lyricsResize .lyricsLines {
  overflow-y: auto;
  padding: 10px;
}

#musicOverlay.lyricsResize .lyricsLine {
  display: block;
}

.dim {
  color: var(--TextColor);
}
